@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var ratioConstructs = (List<RatioConstruct>)ViewData["ratioConstructs"];

    var newRatio = (Ratio)new Ratio();
    var numerator = (List<RatioConstruct>)new List<RatioConstruct>();
    var denominator = (List<RatioConstruct>)new List<RatioConstruct>();

}
<!--On success to submit ratio, this is toggled by toggling class modal-->

<div id="success-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your new ratio was successfully added.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                   Ok
                </button>
            </div>
        </div>
    </div>
</div>
<!--On failure to submit ratio, this is toggled by toggling class modal-->
<div id="failure-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Failure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your ratio was rejected.</p>
                <p id="errorText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light pt-5 pb-5 mb-0">
    <div class="container">
        <div class="row">

        </div>

    </div>
</div>
<div style="position: absolute;" class="bg-dark container-fluid py-5"></div>
        </div>
<!-- End Header Content -->
<!-- Start Main Content -->
<div class="container mb-5">
    <!-- First Card -->
    <div class="row">
        <div class="col-12 card card-3 pb-4">
            <div class="row">
                <div class="col-6">
                    <div class="card text-center p-2 card-3 title-card text-light"><span class="h4">Ratio Creator</span></div>
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row px-5 pt-4">
                <!-- Ratio Type -->
                <div class="col-md-5">
                    <p class="h4">Ratio Type</p>
                    <div class="card border border-dark w-100 p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ratio-type" value="0" id="financing-structure">
                            <label for="financing-structure" class="form-check-label">Financing Structure Ratios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="asset-allocation" value="1" type="radio" name="ratio-type">
                            <label for="asset-allocation" class="form-check-label">Asset Allocation Ratios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="asset-utilization" value="2" type="radio" name="ratio-type">
                            <label for="asset-utilization" class="form-check-label">Asset Utilization Ratios</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="sales-profitability" value="3" name="ratio-type">
                            <label for="sales-profitability" class="form-check-label">Sales Profitability Ratios</label>
                        </div>
                        <div class="form-check">
                            <input id="return-on-investment" value="4" class="form-check-input" type="radio" name="ratio-type">
                            <label for="return-on-investment" class="form-check-label">Return on Investment Ratios</label>
                        </div>
                        <div class="form-check">
                            <input id="others" value="5" class="form-check-input" type="radio" name="ratio-type">
                            <label for="others" class="form-check-label">Others</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <!-- Ratio Name -->

                <div class="col-md-5 formula-col">
                    <div class="row mb-3">
                        <p class="h4">Ratio Name</p>
                        <input id="ratio-name-input" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-4"><span class="h4">Forumla:</span></div>
                        <div class="col-md-8">
                            <div class="row"><span class="customRatioTop"></span></div>
                            <hr class="border border-dark" />

                            <div class="row">
                                <span class="customRatioBottom border-right-0 border-bottom-0 border-left-0"></span>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row p-5">
                <div class="col-5 d-flex align-content-stretch flex-column">
                    <span class="h5 mb-3">Ratios Constructs</span>
                    <div class="col">
                        <select id="sbOne" multiple="multiple">
                            @foreach (var ratioC in ratioConstructs)
                            {
                                <option value="@ratioC.ID">@ratioC.Name</option>

                            }

                        </select>
                    </div>

                </div>
                <div class="col-2">
                    <p></p>
                    <button id="numPlus" class="btn btn-block bt-dark text-light">Numerator +</button>
                    <button id="numMinus" class="btn btn-block bt-dark text-light">Numerator -</button>
                    <button id="denominatorPlus" class="btn btn-block bt-dark text-light">Denominator +</button>
                    <button id="denominatorMinus" class="btn btn-block bt-dark text-light">Denominator -</button>
                    <button id="remove" class="btn btn-block bt-dark text-light">Remove</button>
                    <button id="removeAll" class="btn btn-block bt-dark text-light">Remove All</button>

                </div>
                <div class="col-5 d-flex flex-column px-3">
                    <div class="row mb-4">
                        <div class="col">
                            <p class="h5 m-0 mb-2">Numerator</p>
                            <select class="newRatioSelect" id="sbNum" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="h5 m-0 mb-2">Denominator</p>
                            <select class="newRatioSelect" id="sbDem" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-5">

                <div class="col-12 text-right">
                    <button id="save-ratio" class="btn btn-primary btn-lg ml-auto">Save Ratio</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Second Card (Calculations) -->

</div>