USE [master]
GO
/****** Object:  Database [cpa]    Script Date: 3/7/2018 4:56:10 PM ******/
CREATE DATABASE [cpa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cpa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cpa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cpa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cpa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cpa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cpa]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 3/7/2018 4:56:10 PM ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 3/7/2018 4:56:10 PM ******/
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\IUSR]
GO
/****** Object:  FullTextCatalog [ft]    Script Date: 3/7/2018 4:56:10 PM ******/
CREATE FULLTEXT CATALOG [ft] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[article]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[source] [nvarchar](max) NULL,
	[date] [date] NULL,
	[url] [nvarchar](max) NOT NULL,
	[text] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[common_words]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_words](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_commonwords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[market] [nvarchar](50) NULL,
	[symbol] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[isa]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isa](
	[obj_a] [nvarchar](50) NOT NULL,
	[obj_b] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_isa] PRIMARY KEY CLUSTERED 
(
	[obj_a] ASC,
	[obj_b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[isc]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isc](
	[obj_a] [nvarchar](50) NOT NULL,
	[obj_b] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_isc] PRIMARY KEY CLUSTERED 
(
	[obj_a] ASC,
	[obj_b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[isp]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isp](
	[obj_a] [nvarchar](50) NOT NULL,
	[obj_b] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_isp] PRIMARY KEY CLUSTERED 
(
	[obj_a] ASC,
	[obj_b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[knowledge_relationships]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knowledge_relationships](
	[semantic] [nvarchar](50) NOT NULL,
	[obj_a] [nvarchar](50) NOT NULL,
	[obj_b] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NULL,
 CONSTRAINT [PK_knowledge_relationships] PRIMARY KEY CLUSTERED 
(
	[semantic] ASC,
	[obj_a] ASC,
	[obj_b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[object]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[object](
	[type] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[plural] [nvarchar](50) NULL,
	[abreviation] [nvarchar](50) NULL,
 CONSTRAINT [PK_object] PRIMARY KEY CLUSTERED 
(
	[type] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ratio]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[type] [nchar](1) NOT NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_ratio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ratio_construct]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratio_construct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[tag] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ratio_construct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ratio_detail]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratio_detail](
	[ratio_id] [int] NOT NULL,
	[position] [nchar](1) NOT NULL,
	[equation_order] [int] NOT NULL,
	[ratio_construct_id] [int] NOT NULL,
	[operator] [nchar](1) NOT NULL,
 CONSTRAINT [PK_ratio_detail] PRIMARY KEY CLUSTERED 
(
	[ratio_id] ASC,
	[position] ASC,
	[equation_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statement]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[quarter] [int] NULL,
	[company_id] [int] NOT NULL,
 CONSTRAINT [PK_statement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statement_detail]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statement_detail](
	[statement_id] [int] NOT NULL,
	[line] [int] NOT NULL,
	[ratio_construct_id] [int] NOT NULL,
	[value] [money] NOT NULL,
 CONSTRAINT [PK_statement_detail] PRIMARY KEY CLUSTERED 
(
	[statement_id] ASC,
	[line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/7/2018 4:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[salt] [binary](50) NOT NULL,
	[hash] [binary](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[article] ON 

SET IDENTITY_INSERT [dbo].[article] OFF
SET IDENTITY_INSERT [dbo].[common_words] ON 

INSERT [dbo].[common_words] ([id], [word]) VALUES (1, N'&')
SET IDENTITY_INSERT [dbo].[common_words] OFF
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([id], [name], [market], [symbol], [description]) VALUES (2, N'Apple Inc.', N'NASD', N'AAPL', NULL)
INSERT [dbo].[company] ([id], [name], [market], [symbol], [description]) VALUES (3, N'Costco Wholesale Corporation', N'NASD', N'COST', NULL)
INSERT [dbo].[company] ([id], [name], [market], [symbol], [description]) VALUES (4, N'Amazon.com, Inc.', N'NASD', N'AMZN', NULL)
SET IDENTITY_INSERT [dbo].[company] OFF
INSERT [dbo].[isa] ([obj_a], [obj_b], [relationship]) VALUES (N'aged balance', N'asset', NULL)
INSERT [dbo].[isa] ([obj_a], [obj_b], [relationship]) VALUES (N'cash', N'money', NULL)
INSERT [dbo].[isa] ([obj_a], [obj_b], [relationship]) VALUES (N'customer', N'purchaser', NULL)
INSERT [dbo].[isc] ([obj_a], [obj_b], [relationship]) VALUES (N'aged balance', N'bad debt', NULL)
INSERT [dbo].[isc] ([obj_a], [obj_b], [relationship]) VALUES (N'asset', N'amortization', NULL)
INSERT [dbo].[isc] ([obj_a], [obj_b], [relationship]) VALUES (N'asset', N'depreciation', NULL)
INSERT [dbo].[isp] ([obj_a], [obj_b], [relationship]) VALUES (N'accounts recievable', N'current asset', NULL)
INSERT [dbo].[isp] ([obj_a], [obj_b], [relationship]) VALUES (N'accounts recievable', N'recievable', NULL)
INSERT [dbo].[isp] ([obj_a], [obj_b], [relationship]) VALUES (N'aged balance', N'aged schedule', N'attribute')
INSERT [dbo].[knowledge_relationships] ([semantic], [obj_a], [obj_b], [relationship]) VALUES (N'isa', N'asset', N'profit', NULL)
INSERT [dbo].[knowledge_relationships] ([semantic], [obj_a], [obj_b], [relationship]) VALUES (N'isa', N'cash', N'money', NULL)
INSERT [dbo].[knowledge_relationships] ([semantic], [obj_a], [obj_b], [relationship]) VALUES (N'isa', N'customer', N'purchaser', NULL)
INSERT [dbo].[object] ([type], [name], [plural], [abreviation]) VALUES (1, N'amortized loans', N'amortized loanss', N'')
INSERT [dbo].[object] ([type], [name], [plural], [abreviation]) VALUES (1, N'asset', N'assets', NULL)
INSERT [dbo].[object] ([type], [name], [plural], [abreviation]) VALUES (1, N'bad debt', N'bad debts', NULL)
GO
SET IDENTITY_INSERT [dbo].[ratio] ON 

INSERT [dbo].[ratio] ([id], [name], [type], [user_id]) VALUES (14, N'Ratio 1', N'2', 0)
INSERT [dbo].[ratio] ([id], [name], [type], [user_id]) VALUES (15, N'Debt Ratio', N'1', 0)
INSERT [dbo].[ratio] ([id], [name], [type], [user_id]) VALUES (16, N'New Ratio O. Rev - L.T D / TS', N'1', 0)
SET IDENTITY_INSERT [dbo].[ratio] OFF
SET IDENTITY_INSERT [dbo].[ratio_construct] ON 

INSERT [dbo].[ratio_construct] ([id], [name], [tag]) VALUES (1, N'Cash & Equivalents', N'cashandequivalents')
INSERT [dbo].[ratio_construct] ([id], [name], [tag]) VALUES (2, N'Restricted Cash', N'restrictedcash')
INSERT [dbo].[ratio_construct] ([id], [name], [tag]) VALUES (3, N'Short-Term Investments', N'shortterminvestments')
GO
SET IDENTITY_INSERT [dbo].[ratio_construct] OFF
INSERT [dbo].[ratio_detail] ([ratio_id], [position], [equation_order], [ratio_construct_id], [operator]) VALUES (14, N'd', 0, 9, N'-')
INSERT [dbo].[ratio_detail] ([ratio_id], [position], [equation_order], [ratio_construct_id], [operator]) VALUES (14, N'd', 1, 9, N'+')
INSERT [dbo].[ratio_detail] ([ratio_id], [position], [equation_order], [ratio_construct_id], [operator]) VALUES (14, N'n', 0, 3, N'-')
SET IDENTITY_INSERT [dbo].[statement] ON 

INSERT [dbo].[statement] ([id], [name], [year], [quarter], [company_id]) VALUES (1, N'balance_sheet', 2017, 0, 2)
INSERT [dbo].[statement] ([id], [name], [year], [quarter], [company_id]) VALUES (2, N'balance_sheet', 2016, 0, 2)
INSERT [dbo].[statement] ([id], [name], [year], [quarter], [company_id]) VALUES (4, N'balance_sheet', 2015, 0, 2)
SET IDENTITY_INSERT [dbo].[statement] OFF
INSERT [dbo].[statement_detail] ([statement_id], [line], [ratio_construct_id], [value]) VALUES (1, 0, 1, 20289000000.0000)
INSERT [dbo].[statement_detail] ([statement_id], [line], [ratio_construct_id], [value]) VALUES (1, 1, 3, 53892000000.0000)
INSERT [dbo].[statement_detail] ([statement_id], [line], [ratio_construct_id], [value]) VALUES (1, 2, 4, 17799000000.0000)
GO
/****** Object:  Index [ui_article]    Script Date: 3/7/2018 4:56:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_article] ON [dbo].[article]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [name_unique]    Script Date: 3/7/2018 4:56:11 PM ******/
ALTER TABLE [dbo].[ratio] ADD  CONSTRAINT [name_unique] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[getRatio]    Script Date: 3/7/2018 4:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use cpa

--declare @rid as int
--declare @cid as int
--declare @year as int
--set @rid = 16
--set @cid = 4
--set @year = 2017

CREATE procedure [dbo].[getRatio]
	@ratioID int,
	@companyID int,
	@year int

	-- Given a year, company id and ratio id, returns the ratio, if possible
	-- If a ratio would be invalid (zero in denominator) it reurns zero

as
begin
	declare @ratio_calc table (
		position varchar(1),
		equation_order int,
		ratio_construct_id int,
		operator varchar(1),
		value money
	)

	insert into @ratio_calc
	select	distinct --r.name, 
			rd.position, 
			rd.equation_order, 
			rd.ratio_construct_id,
			rd.operator, 
			case
				when s.value is null
					then 0
				else
					case
						when rd.operator = '-'
							then 0 - s.value
						else
							s.value
						end
			end as value
	from ratio_detail rd
	join ratio r on rd.ratio_id = r.id
	join ratio_construct rc on rd.ratio_construct_id = rc.id
	left join (
		select ratio_construct_id, value
		from statement_detail sd
		join statement s on sd.statement_id = s.id and s.company_id = @companyID and s.year = @year
	) s on rd.ratio_construct_id = s.ratio_construct_id
	where ratio_id = @ratioID


	--select * from #ratio_calc
	--order by position desc, equation_order asc

	--select sum(value) as value
	--from #ratio_calc
	--where position = 'n'

	--select sum(value) as value
	--from #ratio_calc
	--where position = 'd'

	select	case
				when (select sum(value) as value from @ratio_calc where position = 'd') = 0
					then 0
				else
					((select sum(value) as value from @ratio_calc where position = 'n')/
					(select sum(value) as value from @ratio_calc where position = 'd'))
			end as value

	--drop table #ratio_calc

end;
GO

USE [cpa]
CREATE FULLTEXT CATALOG FullTextCatalog AS DEFAULT
CREATE UNIQUE INDEX ui_article ON article (id)
CREATE FULLTEXT INDEX ON article (text, title) KEY INDEX ui_article
GO


/****** Object:  StoredProcedure [dbo].[search_type1]    Script Date: 3/7/2018 4:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[search_type1] @ratioID int, @companyID int

AS
BEGIN

  --declare @ratioID int
  --declare @companyID int

  --set @ratioID = 16
  --set @companyID = 3

  DECLARE @name varchar(60)
  DECLARE @maxdepth int
  DECLARE @perms TABLE (
    term varchar(max)
  )
  DECLARE @match TABLE (
    type int,
    name varchar(max)
  )
  DECLARE @terms TABLE (
    id int NOT NULL IDENTITY (1, 1),
    term varchar(30)
  )
  DECLARE @articles TABLE (
    id int,
    source nvarchar(max),
    [date] date,
    url nvarchar(max),
    text nvarchar(max),
    title nvarchar(max)
  )

  DECLARE name_cursor CURSOR FOR
  SELECT DISTINCT
    CONCAT('"', LOWER(name), '"') AS [name]
  FROM ratio_construct rc
  JOIN ratio_detail rd
    ON rc.id = rd.ratio_construct_id
    AND rd.ratio_id = @ratioID

  OPEN name_cursor
  FETCH NEXT FROM name_cursor INTO @name

  WHILE @@FETCH_STATUS = 0
  BEGIN
    INSERT INTO @articles
      SELECT
        id,
        source,
        [date],
        url,
        text,
        title
      FROM article
      WHERE CONTAINS((text, title), @name)
      AND company_id = @companyID
      AND id NOT IN (SELECT
        id
      FROM @articles)

    FETCH NEXT FROM name_cursor INTO @name
  END

  CLOSE name_cursor
  DEALLOCATE name_cursor

  SELECT
    *
  FROM @articles

END
GO
/****** Object:  StoredProcedure [dbo].[search_type2]    Script Date: 3/7/2018 4:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[search_type2]
	@ratioID int, @companyID int

as
begin

declare @name varchar(60)
declare @maxdepth int
declare @perms table (term varchar(max))
declare @match table (type int, name varchar(max))
declare @terms table (id int not null identity(1,1), term varchar(30))
declare @articles table (id int, source nvarchar(max), [date] date, url nvarchar(max), text nvarchar(max), title nvarchar(max))

declare term_cursor cursor for
select lower(name) from ratio_construct
where id in (
	select rc.id from ratio_construct rc
	join ratio_detail rd on rc.id = rd.ratio_construct_id
	where rd.ratio_id = @ratioID
)

open term_cursor
fetch next from term_cursor into @name

while @@FETCH_STATUS = 0
begin
	insert into @terms
	select value from string_split(@name, ' ') 
	where value not in (select word from common_words)

	select @maxdepth = max(id) from @terms

	insert into @perms
	select term from @terms

	if @maxdepth >=2 
		begin
			insert into @perms
			select concat(a.term, ' ', b.term)
			from @terms b, @terms a
			where a.id <> b.id
		end

	if @maxdepth >=3 
		begin
			insert into @perms
			select concat(a.term, ' ', b.term, ' ', c.term)
			from @terms b, @terms a, @terms c
			where b.term <> a.term and
				b.id <> c.id and
				a.id <> c.id
		end

	if @maxdepth >=4 
		begin
			insert into @perms
			select concat(a.term, ' ', b.term, ' ', c.term, ' ', d.term)
			from @terms b, @terms a, @terms d, @terms c
			where a.id <> b.id and
				b.id <> c.id and
				a.id <> c.id and
				c.id <> d.id and
				b.id <> d.id and
				a.id <> d.id
		end

	insert into @match
	select distinct type, concat('"', name, '"') as [name]
	from object
	inner join @perms p on object.name like p.term
	and name not in (select name from @match)
	
	delete from @terms

	fetch next from term_cursor into @name
end

close term_cursor
deallocate term_cursor

declare name_cursor cursor for
select distinct name from @match

open name_cursor
fetch next from name_cursor into @name

while @@FETCH_STATUS = 0
begin
	insert into @articles
	select id, source, [date], url, text, title
	from article
	where contains ((text, title), @name) and
		company_id = @companyID and
		id not in (select id from @articles)

	fetch next from name_cursor into @name
end

close name_cursor
deallocate name_cursor

select * from @articles

end



GO
USE [master]
GO
